@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

input {
  border: 2px solid lightgrey;
  border-radius: 1rem;
  padding: 0.5rem 0.7rem;
}

.error {
  visibility: hidden;
}

.error.active {
  visibility: visible;
  color: orange;
  font-weight: bold;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  opacity: 0.8;
}

.submit-btn {
  background: orange;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
}

.submit-btn:hover {
  background: lightgrey;
  color: orange;
  cursor: pointer;
}

.main {
  background: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 350px;
}

.location {
  font-size: 2rem;
}

.humidity::before {
  content: "Humidity: ";
}

.description {
  font-style: italic;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
